@font-face {
    font-family: open-sans;
    src: url("../fonts/open-sans/OpenSans-Regular.ttf")
}
@font-face {
    font-family: montserrat;
    src: url("../fonts/montserrat/Montserrat-Regular.otf");
}
@font-face {
    font-family: redressed;
    src: url("../fonts/redressed/Redressed.ttf");
}
@font-face {
 font-family: ubuntu;
 src: url("../fonts/ubuntu/Ubuntu-R.ttf");
}
@font-face {
 font-family: greatVibes;
 src: url("../fonts/great-vibes/GreatVibes-Regular.otf");
}

html, body,h1, h2, h3, div, img, header, nav, section, label, input, textarea, button, table, tr, td, th {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeSpeed;
}

/* GLOBAL */
/* ================================================= */

body {
    font-family: ubuntu, serif;
}

h2 {
    font-family: montserrat, serif;
    font-size: 2em;
    letter-spacing: .05em;
    text-align: center;
    padding: 1em;
    color: #fff;
}


/* HEADER */
/* ================================================= */


/* //////////////////// credits \\\\\\\\\\\\\\\\\\\\ */

@keyframes display_credits {
    0% {
        top: 100vh;
    }
    10% {
        top: 100vh;
    }
    100% {
        top: -100vh;
    }
}

@keyframes display_credits_2 {
    0% {
        top: 40vh;
        transform: rotateX(20deg) translateZ(400px);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    85% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2000px);
    }
}
.star_wars {
    perspective: 400px;
    height: 10px;
    display: flex;
    justify-content: center;
}
table {
    opacity: 0;
    font: bold 5em/1.5em ubuntu, serif;
    width: 100%;
    position: relative;
    /* z-index: 1000; */
    /* top: 10000px; */
    /* margin: 0 auto; */
    /* top: 100vh; */
    /* animation: display_credits 20s linear forwards; */
    color: #feda4a;
    /* transform-origin: 50% 100%; */
    animation: display_credits_2 15s linear 3.5s forwards;
    /* color: white; */
    /* margin-left: 25%; */
    text-shadow: 1px 1px 1px #818181, -1px -1px 1px #818181, -1px 1px 1px #818181, 1px -1px 1px #818181;
}
table th {
    padding-bottom: 3em;
    letter-spacing: .1em;
}
table td {
    vertical-align: top;
    width: 10em;
    padding: .5em;
    letter-spacing: .2em;
}
table .right  {
    text-align: right;
}

header {
    position: relative;
    height: 100vh;
    background-color: #000;
    background-image: url("../images/nightSky.jpg");
    background-size: 100% 100%;
    animation: nightStar 3s linear forwards;
    overflow: hidden;
}
@keyframes nightStar {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
    display: inline-block;
    border-radius: .5em;
    background-color: rgba(80, 80, 80, 0.6);
    margin: 1em;
    position: relative;
    padding: .5em;
    font-size: 2em;
    font-family: open-sans, serif;
    color: #ffffff;
    z-index: 1;
    animation: animation-title 10s ease-out forwards;
}
@keyframes animation-title {
    0% {
        left: 2000px;
        letter-spacing: 50px;
    }
    50% {
        left: 0;
        animation-timing-function: ease-out;
    }
    100% {
        letter-spacing: 15px;
        animation-timing-function: ease-out;
    }
}

.earth-moon-container {
    opacity: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
    animation:presentation-fade-in 10s ease-in 5s forwards, animation-earth 20s linear forwards infinite;
}

@keyframes presentation-fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.earth-moon-container img.earth {
    display: inline-block;
    margin: 0 auto;
    width: 500px;
    animation: animation-earth 20s linear forwards infinite;
}
.earth-moon-container img.moon {
    width: 150px;
    animation: animation-moon 20s linear forwards infinite;
}


.posAbs {
    position: absolute;
}



@keyframes animation-earth {
   0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
   }
   100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}
@keyframes animation-moon {
   0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
   }
   100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}

/* ////////// Séparer présentation et menu en sticky \\\\\\\\\\\\ */

.nightSky {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}


/* NAV */
/* ================================================= */

nav {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    background: linear-gradient(to top right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
}

.menu-title {
    font: bold 2em/3em greatVibes, ubuntu, serif;
    text-align: right;
    height: 70px;
    line-height: 70px;
    color: #fff;
    text-shadow: 1px 1px 5px #000, -1px -1px 5px #000, 1px -1px 5px #000, -1px 1px 5px #000;
    margin-left: 2em;
}
.menu {
    margin: 0 30px 0 0;
}

.menu-links a {
    color: gray;
    transition: 1s;
    display: inline-block;
    min-width: 7em;
    text-align: center;
    padding: .7em;
    border-radius: .5em;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 1em .5em;
    text-decoration: none;
    color: #fff;
}

.menu-span {
    color: #54d17a;
}
nav label {
    margin: 0 40px 0 0;
    font-size: 4em;
    line-height: 70px;
    display: none;
    float: right;
    color: white;
    text-shadow: 1px 1px 3px #414141, -1px -1px 3px #414141, 1px -1px 3px #414141, -1px 1px 3px #414141;
}
#toggle {
    display: none;
}
@media only screen and (max-width: 1024px) {
    nav label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border: 1px solid #333;
        margin: 0 0 2px 0;
    }
    #toggle:checked + .menu {
        display: block;
        width: 5em;
        position: absolute;
        top: 4em;
        right: 2em;
    }
}


.menu-links a:hover {
    transition: .2s;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    text-shadow: 1px 1px 5px rgba(85, 207, 216, 0.8), -1px -1px 5px rgba(85, 207, 216, 0.8), 1px -1px 5px rgba(85, 207, 216, 0.8), -1px 1px 5px rgba(85, 207, 216, 0.8);
}



/* SECTION PHOTO GALLERY
==================================================== */

html {
    background: url("../images/prism.png");
}

.photo-gallery {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    background: url("../images/what-the-hex-dark.png") top left repeat rgb(180, 166, 101);
    box-shadow: 0 0 15px #000;
}

.photo-gallery .column {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.photo-gallery .row {
    display: flex;
    flex-flow: row wrap;
}

.photo-gallery .centered-text {
    width: 400px;
    height: 400px;
    font-size: 1.5em;
    color: #1f0e91;
    text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgba(233, 199, 147, 0.5);
    position: relative;
    z-index: 5;
}

.photo-gallery img {
    transition: all 2s;
    display: block;
}
.photo-gallery .anim-text:hover img {
    transition: transform .5s;
    transform: scale(1.1);
    filter: contrast(.5) drop-shadow(0px 0px 4px #4444dd) hue-rotate(-180deg) grayscale(.5);
}

.photo-gallery div {
    overflow: hidden;
}

.photo-gallery div.anim-text {
    position: relative;
}

/* ////////////////// texte photo \\\\\\\\\\\\\\\\\ */

.photo-gallery .outrange-text {
    transition: 1s;
    position: absolute;
    width: 2500px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: .5em;
    padding: .5em;
    border-radius: 1em;
    letter-spacing: 5em;
    left: 1500px;
    top: 0;
    white-space: nowrap;
    font: bold 1em/2em ubuntu, serif;
    color: white;
    text-shadow: 1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000;
}
.photo-gallery div.anim-text:hover .outrange-text {
    transition: left .5s ease-out, letter-spacing .8s ease-out, width 1s ease-out;
    width: 350px;
    left: 0;
    letter-spacing: 0px;
}
.photo-gallery .outrange-text .photo-title {
    font-size: 2em;
    margin-left: 2em;
    border-bottom: 2px solid #000;
    padding-bottom: .1em;
}


/* FOOTER */
/* ======================================= */

footer {
    background-color: #222;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #747474;
    z-index: -1;
    padding: 1em 2em;
}

footer .contact {
    display: flex;
}

footer input, textarea {
    width: 20em;
    padding: .5em;
    margin-bottom: .4em;
    border: none;
    border-radius: .3em .6em;
    text-indent: .5em;
    background-color: #e1faba;
    font-family: ubuntu, serif;
}
footer ::placeholder {
    color: #021b0f;
    text-shadow: 1px 1px 1px #8cbe8e, -1px -1px 1px #8cbe8e, 1px -1px 1px #8cbe8e, -1px 1px 1px #8cbe8e;
    
}

footer label {
    display: inline-block;
    margin: .5em 0;
    color: #aaa;
    font: bold 1.2em/2em ubuntu, sans-serif, serif;
    border-bottom: 1px solid #fff;
}

footer button {
    transition: all 1s;
    display: block;
    padding: .2em 1em;
    margin: 0 auto;
    color: #ddd;
    background-color: #201852;
    border: none;
    border-radius: .2em .5em;
    font: 1.1em ubuntu, serif;
    border: 1px solid #000;
    box-shadow: 0 0 5px #000;
}
footer button:hover {
    transition: all .2s;
    background-color: #ddd;
    color: #201852;
}

footer .contact {
    display: flex;
    justify-content: space-between;
    width: 60%;
}


footer .logos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
}

footer .logos img {
    transition: 1s;
    width: 2em;
}
footer .logos i {
    transition: 1s;
    padding-left: 2em;
}
footer .logos i:hover {
    transition: .5s;
    padding-left: 1em;
}
footer .logos i:hover img {
    transition: .5s;
    width: 5em;
    color: #aaa;
    text-shadow: 1px 1px #fff;
    cursor: crosshair;
}

footer .adress {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

footer .adress p{
    display: inline-block;
    color: white;
    margin-left: 1em;
}

footer .adress img {
    width: 2em;
}


/* /////// MEDIA QUERYS \\\\\\\ */
/* ///////////////////////////////// */

@media screen and (max-width: 1200px) {

    .photo-gallery {
        width: 800px;
    }

    .drone-suite {
        flex-direction: row;
    }
    .drone-suite :nth-child(1)>img {
        width: 400px;
    }
    .drone-suite :nth-child(2) img {
        width: 200px;
    }
}
@media screen and (max-width: 800px) {
    .photo-gallery {
        width: 100%;
    }
    .photo-gallery img.width-2, .photo-gallery img.width-3 {
        width: 100%;
    }
    h1 {
        font-size: 1.5em;
        margin-top: 2em;
    }
    h1>span {
        display: none;
    }
    .earth-moon-container {
        margin-top: 5em;
    }
    .earth-moon-container img.earth {
    width: 300px;
    }
    .earth-moon-container img.moon {
    width: 100px;
    }
}

@media screen and (max-width: 400) {
    section>div {
        width: 100%;
    }
}