@font-face {
    font-family: redressed;
    src: url("../fonts/redressed/Redressed.ttf");
}
@font-face {
 font-family: ubuntu;
 src: url("../fonts/ubuntu/Ubuntu-R.ttf");
}
@font-face {
 font-family: greatVibes;
 src: url("../fonts/great-vibes/GreatVibes-Regular.otf");
}

body,h1, h2, h3, div, img, header, nav, section {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

/* GLOBAL */
/* ================================================= */

body {
    font-family: ubuntu, serif;
}

h2 {
    font-family: greatVibes, serif;
    font-size: 3em;
    letter-spacing: .05em;
    display: inline-block;
    margin: 0 auto;
    padding: 2em;
}

/* HEADER */
/* ================================================= */

.rotating_planets {
}

.rotating_earth {
    height: 100vh;
    /* width: 100%; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.rotating_earth img {
    width: 500px;
    margin: 0 auto;
    /* display: inline-block; */
}


/* NAV */
/* ================================================= */

nav {
    height: 150px;
    background: linear-gradient(to bottom right, rgba(116, 7, 7, 0.7), rgba(80, 56, 3, 0.7));
}


/* SECTION PHOTO GALLERY
==================================================== */

.photo-gallery {
    /* border: 5px solid slateblue; */
    max-width: 1200px;
    margin: 2em auto;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
}

.photo-gallery .column {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    /* overflow: hidden; */
}

.photo-gallery .row {
    display: flex;
    flex-flow: row wrap;
}

.photo-gallery .centered-text {
    width: 400px;
    height: 400px;
    font-size: 1.5em;
    color: #1f0e91;
    text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #e9c793;
    position: relative;
    z-index: 10;
}

.photo-gallery img {
    transition: all 2s;
    display: block;
    /* margin: 0 2px 2px 0; */
    /* overflow: hidden; */
}

.photo-gallery div.anim-text:hover img {
    transition: .5s;
    filter: contrast(.5) drop-shadow(0px 0px 4px #4444dd) hue-rotate(-180deg) grayscale(.5);
    /* z-index: 10; */
    /* padding: 5px; */

}

.photo-gallery div.anim-text {
    position: relative;
}

/* ////////////////// texte photo \\\\\\\\\\\\\\\\\ */

/* @keyframes outrange-text-anim {
    0% {
        left: 2000px;
        letter-spacing: 50px;
    }
    50% {
        left: 0;
        letter-spacing: 30px;
        animation-timing-function: linear;
    }
    100% {
        left: 0;
        letter-spacing: normal;
        animation-timing-function: ease-out;
    }

} */

.photo-gallery .outrange-text {
    transition: 1s;
    /* display: inline-block; */
    position: absolute;
    /* height: 350px; */
    width: 2500px;
    background-color: rgba(0, 0, 0, 0.5);
    /* text-align: center; */
    margin: .5em;
    padding: .5em;
    border-radius: 1em;
    letter-spacing: 5em;
    left: 1500px;
    top: 0;
    white-space: nowrap;
    /* font-weight: bold; */
    /* line-height: 2em; */
    font: bold 1.2em/2em redressed, ubuntu, serif;
    color: white;
    text-shadow: 1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000;
    /* z-index: 0; */
}
.photo-gallery div.anim-text:hover .outrange-text {
    transition: left .5s ease-out, letter-spacing .8s ease-out, width 1s ease-out;
    /* animation: outrange-text-anim 1.5s; */
    width: 350px;
    left: 0;
    letter-spacing: 3px;
}
.photo-gallery .outrange-text .photo-title {
    font-size: 2em;
    margin-left: 2em;
    border-bottom: 2px solid #000;
    padding-bottom: .1em;
}
/* .photo-gallery .outrange-text .width-2 {
    width: 800px;
}
.photo-gallery .outrange-text .width-3 {
    width: 1200px;
} */

/* /////// MEDIA QUERYS \\\\\\\ */
/* ///////////////////////////////// */

@media screen and (max-width: 1024px) {
    .photo-gallery {
        max-width: 400px;
    }
    .photo-gallery .width-3 {
        width: 200px;
        height: 200px;
    }
    .photo-gallery .centered-text {
        width: 200px; 
        height: 200px;
        border: 2px solid tomato;
    }
}
